---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Feature from "../components/Feature.astro";
import ImgGalery from "../components/ImgGalery.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import Layout from "../Layouts/Layout.astro";

Astro.response.headers.set("Cache-Control", "max-age=604800");
---

<Layout title="Criadero Pinto | Venta de Cachorros">
  <section
    class="overflow-hidden bg-[url(https://dl.dropbox.com/s/75ug13nigvm1ud5/874357-French-Bulldog-Closeup-Dogs-Head-Glance-Black-background.webp)] bg-cover bg-center bg-no-repeat"
  >
  <Navbar color="bg-zinc-900/25"/>
    <div class="bg-zinc-900/25 p-8 md:p-12 lg:px-16 lg:py-80">
      <div class="max-w-lg text-center sm:text-left">
        <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">
          Cachorros de Bulldog Francés y Shih Tzu disponibles
        </h2>

        <p
          class="hidden max-w-md text-white/90 md:mt-6 md:block md:text-lg md:leading-relaxed"
        >
          No sabemos exactamente qué es la felicidad, pero sabemos que un perro
          puede ser una parte importante de ella.
        </p>

        <div class="mt-4 sm:mt-8">
          <Button title="Encuentralo aquí" href="#"/>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
        <div class="relative z-10 lg:py-16">
          <div class="relative h-64 sm:h-80 lg:h-full">
            <img
              alt="Doberman"
              src="https://dl.dropbox.com/s/fytvwasreo4gg9c/pexels-photo-11497213.webp"
              class="absolute inset-0 h-full w-full object-cover rounded-lg"
            />
          </div>
        </div>

        <div class="relative flex items-center bg-zinc-100">
          <span
            class="hidden lg:absolute lg:inset-y-0 lg:-left-16 lg:block lg:w-16 lg:bg-gray-100"
          ></span>

          <div class="p-8 sm:p-16 lg:p-24">
            <h2 class="text-2xl font-bold sm:text-3xl">
              A nosotros también nos encantan los perros.
            </h2>

            <p class="mt-4 text-gray-600">
              En <strong>Criadero Pinto</strong>, nuestro amor por los perros es
              incondicional. Nuestro compromiso con la <strong
                >crianza responsable</strong
              > y el cuidado de nuestros cachorros nos ha permitido criar perros
              de alta calidad. Pero lo más importante para nosotros es garantizar
              la salud y el bienestar de nuestros cachorros y la satisfacción de
              sus dueños.
            </p>
            <Button title="Cachorros disponibles" href="#"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Section clase="bg-zinc-900 text-white" title="Criadero Pinto">
    <Feature
      title="Confianza"
      body="Brindamos a nuestros clientes la tranquilidad y confianza de que están adquiriendo un perro de raza pura y de alta calidad. A través de nuestra crianza responsable y el seguimiento de las líneas de sangre, garantizamos la pureza de raza de nuestros perros."
      href="#"
    />
    <Feature
      title="Objetivo"
      body="Nuestro objetivo es ser líderes en la crianza responsable de razas puras y lograr una reproducción de perros de alta calidad. Con el objetivo de ser reconocidos como un símbolo de excelencia en la crianza de perros, brindamos a nuestros clientes perros sanos y equilibrados."
      href="#"
    />
    <Feature
      title="Responzabilidad"
      body="Trabajamos arduamente para encontrar el hogar perfecto para cada uno de nuestros cachorros únicos y especiales. Nos aseguramos de que nuestros cachorros vayan a hogares responsables y adecuados."
      href="#"
    />
  </Section>

  <Section clase="text-zinc-700" title="Razas Disponibles">
    <Card
      title="Doberman Europeo"
      body="Es un perro elegante, atlético, de talla grande, de porte poderoso y musculoso. El dóberman ha resultado ser un perro de excelentes capacidades de trabajo y compañía, con un alto instinto de protección, pero muy equilibrado."
      href="#"
      img="https://dl.dropbox.com/s/vkjha19cut38jf8/pexels-photo-7483192.webp"
    />
    <Card
      title="Shih Tzu"
      body="Es un perro de talla pequeña, es una de las razas de compañía más sociables, juguetones y extremadamente cariñosos, eso sumado a su hermoso pelaje y dulce apariencia lo ha convertido en una de las mascotas más populares."
      href="#"
      img="https://dl.dropbox.com/s/1ykn5ookxfgr2yt/photo-1527526029430-319f10814151.webp"
    />
    <Card
      title="Bulldog Francés"
      body="Es considerado un moloso de talla pequeña, nuestros pequeños amigos son unos excelentes perros de compañía, son cariñosos, juguetones y muy simpáticos, por eso son ideales para el trato con los niños."
      href="#"
      img="https://dl.dropbox.com/s/2x623ucsdlgm01n/photo-1621262331542-df0768a47e2c.webp"
    />
  </Section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div
          class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
        >
          <img
            alt="bulldog"
            src="https://dl.dropbox.com/s/1tcr6z7og09e166/photo-1587893143314-972249555d65.webp"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>

        <div class="lg:py-24">
          <h2 class="text-3xl font-bold sm:text-4xl">
            ¡Te presentamos a tu nuevo compañero de vida!
          </h2>

          <p class="mt-4 text-zinc-700">
            ¿Sabías que tu cuerpo produce una hormona llamada oxitocina cada vez
            que tu cachorro te recibe con alegría?
          </p>
          <p class="mt-4 text-zinc-700">
            Esta hormona, también conocida como la hormona del amor, nos ayuda a
            sentir emociones positivas y a establecer vínculos afectivos más
            profundos.
          </p>
          <p class="mt-4 text-zinc-700">
            ¡Mantener una relación cercana y cariñosa con nuestras mascotas
            puede mejorar nuestra salud y bienestar de muchas maneras!
          </p>
          <Button title="Saber más" href="#"/>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-zinc-800 px-4 py-3 pr-14 text-white">
    <p class="text-left text-sm font-medium sm:text-center">
      ¡Te invitamos a seguirnos en nuestras redes!
    </p>
  </div>

  <section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
          Nuestros cachorros y sus nuevas Familias
        </h2>

        <p class="max-w-md mx-auto mt-4 text-gray-500">
          Nuestra principal misión es hacer que estos cachorros además de ser
          criados con amor, formen parte de excelentes familias.
        </p>
      </header>

      <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
        <ImgGalery
          alt="familia feliz"
          href="/criaderopinto"
          clase=""
          img="https://images.unsplash.com/photo-1587893143263-6b065e9c56c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
        />
        <ImgGalery
          alt="amilia feliz"
          href="/criaderopinto"
          clase=""
          img="https://images.unsplash.com/photo-1609896454820-cdf9ab0524f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        />
        <ImgGalery
          clase="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1"
          alt="amilia feliz"
          href="/criaderopinto"
          img="https://images.unsplash.com/photo-1568299855794-b7f00f7e7475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80"
        />
      </ul>
    </div>
  </section>
</Layout>
