---
const fecha = new Date();
---

<footer aria-label="Site Footer" class="bg-zinc-900">
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
  >
    <div class="absolute top-4 right-4 sm:top-6 sm:right-6 lg:top-8 lg:right-8">
      <a
        class="inline-block rounded-full bg-amber-500 p-2 text-white shadow transition hover:bg-amber-500 sm:p-3 lg:p-4 animate-bounce"
        href="#MainContent"
      >
        <span class="sr-only">Back to top</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>

    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-center lg:justify-start">
          <img
            src="https://dl.dropbox.com/s/uicxyxb8qrtwqnv/logo-criaderopinto-white.svg"
            alt=""
            width="200px"
          />
        </div>

        <p
          class="mx-auto mt-6 max-w-md text-center leading-relaxed text-zinc-50 lg:text-left"
        >
          Somos un criadero de ambiente familiar, nuestros perros nacen y crecen
          en un ambiente hogareño lleno de amor y con todos los cuidados
          necesarios.
        </p>
      </div>

      <nav aria-label="Footer Nav" class="mt-12 lg:mt-0">
        <ul
          class="flex flex-wrap justify-center gap-6 md:gap-8 lg:justify-end lg:gap-12"
        >
          <li>
            <a class="text-zinc-50 transition hover:text-zinc-200/75" href="/">
              Nosotros
            </a>
          </li>

          <li>
            <a class="text-zinc-50 transition hover:text-zinc-200/75" href="/">
              Blog
            </a>
          </li>

          <li>
            <a class="text-zinc-50 transition hover:text-zinc-200/75" href="/">
              Galeria
            </a>
          </li>

          <li>
            <a class="text-zinc-50 transition hover:text-zinc-200/75" href="/">
              Contacto
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <p class="mt-12 text-center text-sm text-zinc-200/75 lg:text-right">
      Copyright &copy; {fecha.getFullYear()}. Todos los derechos reservados. | @anthonytepach
    </p>
  </div>
</footer>
