---
export interface Props {
  alt: string;
  img: string;
  href: string;
  clase: string;
}

const { href, alt, img ,clase} = Astro.props;
---

<li class={clase}>
  <a href={href} class="relative block group">
    <img
      alt={alt}
      src={img}
      class="object-cover w-full transition rounded-md duration-500 aspect-square group-hover:opacity-90"
    />

    <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
    </div>
  </a>
</li>

